DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=dev_db

NODE_ENV=development
PORT=3000

JWT_SECRET=supersecret
JWT_ACCESS_TOKEN_EXPIRES_IN=7d
JWT_REFRESH_TOKEN_EXPIRES_IN=180d

S3_ENDPOINT=https://${accountid}.r2.cloudflarestorage.com
S3_BUCKET_NAME=dev-bucket
S3_ACCESS_KEY_ID=a22a22a22222aa22a222222a22a2aaa2
S3_SECRET_ACCESS_KEY=2a22aaaa22a222a2222aa22a222a2222a222aaaa2a22a22a2aa2a22222a2aaa22

THROTTLER_LIMIT=10
THROTTLER_TTL=30000

CLIENT_URL_CORS=http://localhost:3001